<div>
    <el-row style="padding-top: 5%;">
        <el-col :offset="2" :xs="20" :sm="20">
            <el-button style="background-color:plum;text-align: left; height: 75px; " shadow="always">
                <a href="">
                    <el-row>
                        <el-col :xs="8" :sm="8">
                            <img src="../../assets/new_questionnaire.png" class="image"  style="margin-left: 10px;">
                        </el-col>
                        <el-col :xs="4" :sm="4">
                            <h6 style="vertical-align: center;">Create/edit</h6>
                        </el-col>
                    </el-row>
                </a>
            </el-button>
        </el-col>
    </el-row>
    <el-row style="padding-top: 5%;">
        <el-col :offset="2" :xs="20" :sm="20">
            <el-button style="background-color:plum;text-align: left; height: 75px; " shadow="always">
                <a href="/app/questionnaire">
                    <el-row>
                        <el-col :xs="8" :sm="8">
                            <img src="../../assets/questionnaire.png" class="image" style="margin-left: 10px;">
                        </el-col>
                        <el-col :xs="4" :sm="4">
                            <h6 style="vertical-align: center;">Questionnaire</h6>
                        </el-col>
                    </el-row>
                </a>
            </el-button>
        </el-col>
    </el-row>
    <el-row style="padding-top: 5%;">
        <el-col :offset="2" :xs="20" :sm="20">
            <el-button style="background-color:plum;text-align: left; height: 75px; " shadow="always">
                <a href="">
                    <el-row>
                        <el-col :xs="8" :sm="8">
                            <img src="../../assets/stats.png" class="image"  style="margin-left: 10px;">
                        </el-col>
                        <el-col :xs="4" :sm="4">
                            <h6 style="vertical-align: center;">Results</h6>
                        </el-col>
                    </el-row>
                </a>
            </el-button>
        </el-col>        
      </el-row>
</div>