<div>
    <el-card style="background-color: #dab8f5;">
        <el-form >
            <el-form-item prop="title">
                <el-input placeholder="Questionnaire name"></el-input>
            </el-form-item>
            <el-row>
                <el-col :span="12">
                    <label>Number of questions</label>
                </el-col>
                <el-col :span="12">
                    <el-input type="email"></el-input>
                </el-col>
            </el-row>

            
            <el-row>
                <div class="wrapper">
                    <el-button type="primary">Create</el-button>
                    <el-button>Cancel</el-button>
                </div>
            </el-row>
        </el-form>
    </el-card>
</div>