<div class="container-questionnaire">
    <el-row>
        <el-col :xs="24">
            <el-card style="background-color: #dab8f5;">
                <el-row :gutter="24">
                    <!-- Poll -->
                    <el-col :xs="24" :sm="24" :md="24" :lg="24">
                        <el-form :label="labels.poll" prop="poll">
                            <label for="label.poll">Questionnaire</label>
                            <el-select v-model="ruleForm.poll.id" filterable @change="pollChange()" size="mini">
                                <el-option v-for="item in combo.polls" :key="item.id" :label="item.name" :value="item.id"></el-option>
                            </el-select>
                        </el-form>
                    </el-col> 
                </el-row>
                <el-row :gutter="24" >
                    <!-- Center -->
                    <el-col :xs="24" :sm="24" :md="24" :lg="24">
                        <el-form :label="labels.center" prop="center">
                            <label for="center">Center</label>
                            <el-select v-model="ruleForm.center" filterable @change="search()" size="mini">
                                <el-option v-for="item in combo.centers" :key="item.id" :label="item.name" :value="item.id"></el-option>
                            </el-select>
                        </el-form>
                    </el-col>
                </el-row>
                <!-- <el-row :gutter="24" v-if="ruleForm.center">
                     Organization 
                    <el-col :xs="24" :sm="24" :md="24" :lg="24">
                        <el-form :label="labels.organization" prop="organization">
                            <label for="center">Organization</label>
                            <el-select v-model="ruleForm.organization" filterable @change="loadTable('ruleForm')" size="mini">
                                <el-option v-for="item in combo.organizations" :key="item" :label="item" :value="item"></el-option>
                            </el-select>
                        </el-form>
                    </el-col>
                </el-row> -->
                <el-row :gutter="24">
                    <!-- Start Date -->
                    <el-col :xs="24" :sm="24" :md="24" :lg="24">
                        <el-form :label="labels.startDate" prop="startDate">
                            <label for="startDate">Start date</label>
                            <el-date-picker type="date" placeholder="Pick a date" v-model="ruleForm.startDate" size="mini"></el-date-picker>
                        </el-form>
                    </el-col>
                </el-row>
                <el-row :gutter="24">
                    <!-- End date -->
                    <el-col :xs="24" :sm="24" :md="24" :lg="24">
                        <el-form :label="labels.endDate" prop="endDate">
                            <label for="endDate">End date</label>
                            <el-date-picker type="date" placeholder="Pick a date" v-model="ruleForm.endDate" size="mini"></el-date-picker>
                        </el-form>
                    </el-col>
                </el-row>

                <el-row :gutter="24">
                    <!-- Button reset , search and new msfd -->
                    <el-col :xs="12" :sm="2" :md="2" :lg="2" style="text-align: right;">
                        <el-button type="warning" plain size="small" icon="el-icon-refresh-left" @click="resetForm('ruleForm')" style="margin-top: 10px">Clean</el-button>
                    </el-col>
                    <el-col :xs="12" :sm="2" :md="2" :lg="2">
                        <el-button class="custom-button" size="small" icon="el-icon-search" @click="search()">Search</el-button>
                    </el-col>
                </el-row>

            </el-card>
        </el-col>
    </el-row>

    <el-search-table-pagination type="local" :data="tableData" :page-sizes="[10, 15, 20]" :columns="columns" @sort-change="onSortChange">

        <template slot="details" slot-scope="scope" style="padding-top:0;">
            <el-button icon="el-icon-search" type="info" circle @click="openDialog(scope.row)" size="mini"></el-button>
        </template>

    </el-search-table-pagination>

    <br>

    <div>
        <el-row :gutter="24">
            <el-col :xs="24" :sm="24" :md="24" :lg="24">
                <label for="question">Question</label>
                <el-select v-model="ruleFormStats.question" filterable @change="loadQuestionChart()" size="mini" width="100px">
                    <el-option v-for="item in comboStats.questions" :key="item" :label="item" :value="item"></el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row :gutter="24">
            <el-col :xs="24" :sm="24" :md="24" :lg="24">
                <apexchart type="pie" :options="chartOptions" :series="series"></apexchart>
            </el-col>
        </el-row>
        <BarChartComponent :categories="barChartCategories" :series="barChartSeries"></BarChartComponent> 
    </div>
    

    <el-dialog title="Answers" width="80%" :visible.sync="showDialog">
        <div v-for="(answer, index) in selectedAnswers">
            <!-- Question -->
            <el-row>
                <label style="color:rgb(105, 103, 103);font-size: initial;">{{ answer.question }}</label>
                <!-- Text answers -->
                <div>
                    <el-input v-model="answer.answer" type="textarea" :autosize="{ minRows: 2, maxRows: 6 }" :disabled="true"></el-input>
                </div>
            </el-row>
        </div>
    </el-dialog>
</div>