<div class="container-fluid">
    <el-row>
        <el-col :xs="24">
            <el-card style="background-color: #dab8f5;">
                <el-row>
                    <el-col :xs="24">
                        <h2 class="form_tittle">{{name__view}}</h2>
                    </el-col>
                </el-row>
                <br>
                <el-form ref="ruleForm" :model="ruleForm" label-width="75px">
                    <!-- Name -->
                    <el-row>
                        <el-col :xs="24" :sm="23">
                            <el-form-item :label="labels.name" prop="name">
                                <el-input placeholder="Please input name or ID" v-model="ruleForm.name"></el-input>
                            </el-form-item>
                        </el-col> 
                    </el-row>
                
                    <!-- Age -->
                    <el-row>
                        <el-col :xs="24" :sm="23">
                            <el-form-item :label="labels.age" prop="age">
                                <el-input placeholder="Please input age" v-model="ruleForm.age"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <br>
                    <el-col :xs="24" :sm="22">
                        <span style="margin-left: 75px;color:rgb(105, 103, 103);;">Thank you for taking the time to fill in this questionnaire. Your opinions are really important to us.</span>
                    </el-col>
                    <br>

                    <div v-for="(question, index) in questions">
                        <!-- Question -->
                        <el-row>
                            <el-col :xs="24" :sm="23">
                                <el-form-item prop="question" style="margin-top:20px;">
                                    <label style="color:rgb(105, 103, 103);font-size: initial;">{{ question.question_label }}</label>

                                    <!-- Text answers -->
                                    <div v-if="question.type == 'text'">
                                        <el-input v-model="question.answer" type="textarea" :autosize="{ minRows: 2, maxRows: 6 }"></el-input>
                                    </div>
                                    

                                    <!-- Checkbox answers -->
                                    <div v-else-if="question.type='checkbox'">
                                        <label v-for="(checkBox, index) in question.checkBoxes">
                                            <input type="radio" :key="index" v-model="question.checkBox_selected" 
                                                :name="question.index" :value="checkBox"> {{ checkBox }}
                                        </label>
                                    </div>

                                    <!-- Image answers -->
                                    

                                </el-form-item>
                            </el-col>
                        </el-row>
                    </div>                        
                
                
                    <el-row :gutter="24">
                        <!-- Save button -->
                        <el-col :offset="20" :xs="4" :sm="4" :md="4" :lg="4" style="text-align: right">
                            <el-button type="info" plain size="small" icon="el-icon-check" @click="saveForm()">Save</el-button>
                        </el-col>
                    </el-row>

                </el-form>
            </el-card>
        </el-col>
    </el-row>
</div>
